asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
distlib==0.3.9
Django==5.2.1
filelock==3.18.0
idna==3.10
pillow==11.2.1
platformdirs==4.3.7
reportlab==4.4.2
requests==2.32.4
sqlparse==0.5.3
stripe==12.2.0
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.30.0
gunicorn==23.0.0
whitenoise==6.8.2
dj-database-url==2.3.0
psycopg2-binary==2.9.9
